.profile-container {
  min-height: 100vh;
}

.profile-header {
  width: 100%;
  text-align: center;
  font-size: 25px;
  padding-top: 30px;
}

.profile-tab.active {
  color: white;
  background-color: black !important;
}

.profile-tab {
  color: black;
}

.profile-single-story-container {
  background-color: white;
}

.profile-single-story-header {
  font-size: 15px;
  color: gray;
}

.profile-single-story-topic {
  float: right;
  font-size: 13px;
  color: gray;
}

.profile-single-comment-container {
  background-color: white;
}

.profile-single-comment-flag,
.profile-single-comment-time{
  font-size: 15px;
  color: gray;
}

.profile-single-comment-content {
  word-wrap: break-word;
  word-break: break-all;
  background-color: #FAFBFB;
}




